<div class="game-card">
  <img class="game-card-image" [src]="data?.src" (click)="navigateDetail()" >
  <div class="game-card-type" *ngIf="data && data.type && data.type?.length">
    <img class="game-card-image" *ngFor="let ty of data.type" [src]="'../../assets/icons/' + ty + '.svg'" />
  </div>
  <div class="game-card-meta">
    <h2 class="game-card-title" (click)="navigateDetail()">{{ data?.name }}</h2>
    <img class="game-card-info" src="../../assets/icons/information-circle-outline.svg">
  </div>
</div>