<div class="game-list-page">
  <div class="header">
    <h2 class="title-page">Most Popular</h2>
    <div class="show-all">
      <span>Show all</span><img src="./assets/images/arrow-icon.PNG" />
    </div>
  </div>
  <div class="content">
    <div class="previous" (click)="previous()">
      <div class="btn-previous-page">
        <img src="./assets/images/pre.PNG"/>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item" *ngFor="let item of listsGame" (click)="navigateDetail(item.id)">
        <img class="type-game" [src]="item.typeGame" />
        <div>
          <img class="image-game" [src]="item.srcImg" />
        </div>
        <div class="title">
          <h2>{{ item.nameGame }}</h2>
          <img class="info-icon" src="./assets/images/infor-icon.PNG" />
        </div>
      </div>
    </div>
    <div class="next">
      <div class="btn-next-page" (click)="nextPage()">
        <img src="./assets/images/next.PNG"/>
      </div>
    </div>
  </div>
</div>
